
p, label, input{
    size: calc(1em + 1vw);
    font-size: calc(0.4em + 1vw);
    font-family: Century Gothic, sans-serif;
}
p{
    font-family: Century Gothic, sans-serif;
}
h1, h2{
    font-family: Century Gothic, sans-serif;
     margin-top: 10px;
    font-size: calc(2em + 1vw);
}

.forms{
    background: rgba(234,221,31,1);
background: -moz-linear-gradient(top, rgba(234,221,31,1) 0%, rgba(234,221,31,1) 33%, rgba(247,154,2,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(234,221,31,1)), color-stop(33%, rgba(234,221,31,1)), color-stop(100%, rgba(247,154,2,1)));
background: -webkit-linear-gradient(top, rgba(234,221,31,1) 0%, rgba(234,221,31,1) 33%, rgba(247,154,2,1) 100%);
background: -o-linear-gradient(top, rgba(234,221,31,1) 0%, rgba(234,221,31,1) 33%, rgba(247,154,2,1) 100%);
background: -ms-linear-gradient(top, rgba(234,221,31,1) 0%, rgba(234,221,31,1) 33%, rgba(247,154,2,1) 100%);
background: linear-gradient(to bottom, rgba(234,221,31,1) 0%, rgba(234,221,31,1) 33%, rgba(247,154,2,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eadd1f', endColorstr='#f79a02', GradientType=0 );

    border-radius: 31px 31px 31px 31px;
    -moz-border-radius: 31px 31px 31px 31px;
    -webkit-border-radius: 31px 31px 31px 31px;
    border: 5px solid #000000c0;

    -webkit-box-shadow: 17px 25px 30px -18px rgba(0,0,0,1);
    -moz-box-shadow: 17px 25px 30px -18px rgba(0,0,0,1);
    box-shadow: 17px 25px 30px -18px rgba(0,0,0,1);


}
.tarjetas{
    background: rgba(252,252,252,1);
    background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(242,242,242,1) 47%, rgba(235,235,235,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,252,252,1)), color-stop(47%, rgba(242,242,242,1)), color-stop(100%, rgba(235,235,235,1)));
    background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(242,242,242,1) 47%, rgba(235,235,235,1) 100%);
    background: -o-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(242,242,242,1) 47%, rgba(235,235,235,1) 100%);
    background: -ms-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(242,242,242,1) 47%, rgba(235,235,235,1) 100%);
    background: linear-gradient(to bottom, rgba(252,252,252,1) 0%, rgba(242,242,242,1) 47%, rgba(235,235,235,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ebebeb', GradientType=0 );

    border-radius: 31px 31px 31px 31px;
    -moz-border-radius: 31px 31px 31px 31px;
    -webkit-border-radius: 31px 31px 31px 31px;
    border: 1px solid #000000c0;

    -webkit-box-shadow: 17px 25px 30px -18px rgba(0,0,0,1);
    -moz-box-shadow: 17px 25px 30px -18px rgba(0,0,0,1);
    box-shadow: 17px 25px 30px -18px rgba(0,0,0,1);


}
#elipsis{
    height: 30%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}